[user]
    email = joe@domain7.com
    name = Joe Flynn
[core]
    excludesfile = ~/.gitignore
    editor = vim
[rebase]
    autostash = true
[color]
    ui = true
[alias]
    co = checkout
    po = pull origin
    pu = pull upstream
    pullr = pull --rebase
    pr = push origin
    prf = push -f origin
    l1 = log --oneline --decorate
    graph = log --graph --oneline --decorate --all
    ec = config --global -e
    cob = checkout -b
    cm = !git add -A && git commit -m
    save = !git add -A && git commit --no-verify -m 'squashme: WIP'
    undo = reset HEAD~1 --mixed
    amend = !git add -A && git commit --amend
    ri = rebase -i
    nope = checkout -- .
    switch = "!f() { git checkout ${1-master}; git pull origin ${1-master}; }; f"
    new = "!f() { git checkout ${2-master}; git pull origin ${2-master}; git checkout -b $1; }; f"
    cleanup = "!f() { git branch --merged master | grep -v master | xargs -n 1 git branch -d; }; f"
